/** Utility Mixin, that wraps an element inside a colored box with label. */
@mixin debug-bounding-box($color, $label) {
  position: relative;
  border: 1px solid $color;

  &::before {
    content: $label;

    position: absolute;
    left: 0;
    right: 0;

    background-color: $color;
    color: white;

    padding: 4px 8px;
  }
}