@import '_utils/theming';
@import '_utils/debug';

$header-height: 128px;

body {
  display: flex;
  flex-direction: column;

  padding-block: 32px;

  .block {

    &-header {
      flex: 0 0 $header-height;
      @include debug-bounding-box(blue, '{% block %}', 'header');
    }

    &-content {
      flex: 0;
      @include debug-bounding-box(red, '{% block %}', 'content');
    }

  }
}

