@import '_utils/debug';
@import '_utils/mixins';
@import '_utils/theming';

$header-height: 64px;

body {
  display: flex;
  flex-direction: column;

  padding-block: 32px;

  .block {

    &-header {
      flex: 0 0 $header-height;
      margin: 32px 0 48px 0;

      .navbar {
        ul {
          display: flex;

          margin: 0;
          padding: 16px 0;

          li {
            margin-right: 8px;
            list-style: none;
            a {
              @include rounded(md);

              padding: 8px 16px;

              color: white;
              background-color: theme-color(teal, 800);
            }
          }
        }
      }
    }

    &-content {
      flex: 0;
    }

  }
}

